@charset "utf-8";

@import "fonts";
@import "materialdesignicons";

// Colors
$black:         hsl(228, 10%, 16%);
$black-bis:     hsl(226, 12%, 22%);
$black-ter:     hsl(224, 12%, 28%);
$grey-darker:   hsl(222, 14%, 32%);
$grey-dark:     hsl(220, 16%, 36%);
$grey:          hsl(220, 18%, 44%);
$grey-light:    hsl(220, 18%, 52%);
$grey-lighter:  hsl(220, 16%, 60%);
$grey-lightest: hsl(220, 16%, 88%);
$white-ter:     hsl(218, 14%, 92%);
$white-bis:     hsl(216, 12%, 94%);
$white:         hsl(214, 10%, 97%);

$magenta:       hsl(310, 27%, 59%);
$red:           hsl(358, 42%, 52%);
$yellow:        hsl( 33, 61%, 50%);
$green:         hsl( 90, 38%, 35%);
$cyan:          hsl(200, 50%, 60%);
$blue:          hsl(215, 40%, 52%);

$blue-p99: adjust-color($blue, $lightness: 20%);
$blue-p80: adjust-color($blue, $lightness: 10%);
$blue-p50: $blue;

$primary: $cyan;

$info: $blue;

$success: $green;
$warning: $yellow;
$danger: $red;

$link: $blue;
$link-hover: $blue;
$link-visited: $magenta;

$dark: $black-ter;
$light: $white-ter;

$text: $grey-dark;
$background: $grey-lightest;

$shadow: 0px 1px 0px 0px $grey-lighter;

// Fonts
$family-sans-serif: "IBM Plex Sans", "sans-serif";
$family-monospace: "Iosevka Fixed", "monospace";
$family-primary: $family-sans-serif;
$family-secondary: "Barlow Semi Condensed", "sans-serif";

$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

$strong-weight: $weight-medium;

// Sizes
$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;

$radius-small: 2px;
$radius: 3px;
$radius-large: 5px;

// Body
$body-background-color: $background;

// Footer
$footer-background-color: $background;
$footer-color: $grey-light;
$footer-padding: 3rem 1.5rem 4rem;

// Text
$title-size: $size-5;
$subtitle-size: $size-6;

$title-weight: $weight-medium;
$subtitle-weight: $weight-medium;

$subtitle-negative-margin: 0;

// Buttons
$button-color: $dark;
$button-background-color: $white-bis;

$button-padding-vertical: 0;
$button-padding-horizontal: 0.8em;

$button-colors: ("primary": ($primary, $white-bis),
                 "link": ($link, $white-bis),
                 "info": ($info, $white-bis),
                 "success": ($success, $white-bis),
                 "warning": ($warning, $white-bis),
                 "danger": ($danger, $white-bis));

$button-border-width: 1px;
$button-border-color: $grey-light;

// Menu
$menu-label-font-size: $size-6;
$menu-label-letter-spacing: 0;

$menu-item-color: $grey-lightest;
$menu-item-hover-color: $grey-lightest;
$menu-item-hover-background-color: $grey-dark;
$menu-item-active-color: $grey-lightest;
$menu-item-active-background-color: $primary;

// Navbar
$navbar-background-color: $black-bis;

$navbar-item-color: $grey-lightest;
$navbar-item-hover-color: $grey-lightest;
$navbar-item-hover-background-color: $grey-dark;
$navbar-item-active-color: $grey-lightest;
$navbar-item-active-background-color: $primary;

$navbar-dropdown-background-color: $black-bis;
$navbar-dropdown-border-top: 0;
$navbar-dropdown-radius: $radius;
$navbar-dropdown-item-hover-color: $grey-lightest;
$navbar-dropdown-item-hover-background-color: $grey-dark;
$navbar-dropdown-item-active-color: $grey-lightest;
$navbar-dropdown-item-active-background-color: $primary;

// Tables
$table-background-color: $background;

// Boxes
$box-background-color: $white-bis;
$box-radius: $radius;

// Modals
$modal-background-background-color: rgba($black-bis, 0.6);

$modal-card-head-radius: $radius;
$modal-card-head-padding: $size-6;
$modal-card-head-background-color: $black-bis;

$modal-card-title-size: $title-size;
$modal-card-title-color: $white-bis;

$modal-card-body-background-color: $background;

$modal-card-foot-radius: $radius-small;
$modal-card-foot-border-top: 0;

// Forms
$label-weight: $weight-medium;
$input-background-color: $white-bis;

$input-border-color: $grey-light;
$input-hover-border-color: $grey;
$input-focus-border-color: $grey;

// Dropdowns
$dropdown-content-background-color: $white-ter;
$dropdown-item-hover-background-color: $white;

// Horizontal bars
$hr-background-color: $grey-lighter;
$hr-height: 1px;

@import "bulma-0.9.3/bulma.sass";

$ev-menu-width: 20em;

// Layout
#ev-content {
  padding-bottom: $size-3;
}

#ev-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;

  .footer {
    .ev-links a:not(:first-child) {
      margin-left: $size-small;
    }
  }
}

// Text
p {
  @include block;

  text-align: justify;
}

.title, .subtitle, .breadcrumb, .tabs {
  font-family: $family-secondary;
}

.title, .subtitle {
  &:last-child {
    margin-bottom: 0;
  }

  &:not(:last-child) {
    margin-bottom: 0.5em;
  }
}

.ev-placeholder {
  color: $grey;
  font-style: italic;
}

// Preformatted text and code
code {
  // Inline code
  background-color: $background;
  color: $text;

  font-size: 1em;

  padding: 0;
}

pre {
  max-width: 100vw;

  border: 1px solid $grey-lightest;
  border-radius: $radius-small;

  padding: 0.5em 1.0em;

  background-color: $black-bis;
  color: $grey-lightest;

  &.ev-fixed-height {
    height: 16em;
  }

  &.ev-limited-height {
    max-height: 16em;
    overflow: auto;
  }

  & > code {
    background-color: $black-bis;
    color: $grey-lightest;
  }

  &.ev-inline-pre {
    border: 0;
    padding: 0;
    color: $text;
    background-color: inherit;
    font-size: 1rem;
  }
}

// Links
a {
  &:hover {
    text-decoration: underline;
  }
}

a.button, .menu a, .tabs a {
  &:hover {
    text-decoration: none;
  }
}

a.button:hover {
  color: $button-color;
}

a code {
  color: $link;
}

// Lists
ul {
  list-style: inside;
  list-style-type: "– ";
}

aside, nav {
  ul {
    list-style: none;
  }
}

// Dropdowns
.dropdown {
  .dropdown-trigger .tag {
    cursor: pointer;

    &:hover {
      background-color: adjust-color($grey-lightest, $lightness: 5%);
    }
  }

  .dropdown-menu {
    border: 1px solid $grey-lighter;
    border-radius: $radius-small;
    box-shadow: $shadow;

    padding: 0;

    .dropdown-item.ev-disabled {
      color: $grey-lighter;

      &:hover {
        background-color: $dropdown-content-background-color;
        cursor: default;
      }
    }

    a {
      text-decoration: none;
    }
  }
}

// Selects and multi-selects
.ev-multi-select-view {
  @include input;

  cursor: pointer;

  max-width: 100%;
  height: auto;

  &.tags { // make the rule specific to override Bulma rules (CSS sucks)
    margin-bottom: 0;

    &.ev-expanded {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  & > .tags {
    margin-bottom: 0;
    margin-top: 0;

    .tag {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }

    margin-left: 0.25em;
    margin-right: 0.25em;
  }
}

select[multiple] {
  width: 100%;

  border-top: 0;

  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

// Highlight.js
.hljs {
  .hljs-meta {
    // E.g. '---' for document start marks in YAML.
    color: $blue;
  }

  .hljs-bullet {
    // E.g. '-' in YAML sequence elements.
  }

  .hljs-keyword {
    // This includes booleans in YAML and JSON.
    color: $red;
  }

  .hljs-attr {
    // E.g. object keys in JSON.
    color: $yellow;
  }

  .hljs-string {
  }

  .hljs-number {
  }
}
