HTTP/1.0 404 Not Found
Cache-Control: no-cache
Connection: close
Content-Type: text/html

<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
      <%= css_data %>
    </style>

    <style>
      #title {
        margin-bottom: 1.5em;
      }

      #box {
        margin-top: 25vh;
      }
    </style>

    <title>Exograd – Page not found</title>
  </head>

  <body>
    <div class="container">
      <div id="box" class="box">
        <h1 id="title" class="title">Page not found</h1>

        <div class="block">
          <p>
            We cannot find the page you are looking for.
          </p>

          <p>
            If you typed the URL yourself, please check that it is correct.
          </p>

          <p>
            If you followed a link, there may be a bug somewhere. Feel free to
            <a href="mailto:support@exograd.com">contact us</a>, we will do
            our best to fix it.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
