HTTP/1.0 503 Service Unavailable
Cache-Control: no-cache
Connection: close
Content-Type: text/html

<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
      <%= css_data %>
    </style>

    <style>
      #title {
        margin-bottom: 1.5em;
      }

      #box {
        margin-top: 25vh;
      }
    </style>

    <title>Exograd – service unavailable</title>
  </head>

  <body>
    <div class="container">
      <div id="box" class="box">
        <h1 id="title" class="title">Service unavailable</h1>

        <div class="block">
          <p>
            Service is currently unavailable.
          </p>

          <p>
            There may be some issues with our servers, but they will be back
            online soon.
          </p>

          <p>
            Feel free to <a href="mailto:support@exograd.com">contact us</a>
            if the problem persists, we will do our best to fix it.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
